
openstackrc

# -----------------------------------
# Linux                             |
# -----------------------------------
*~

# -----------------------------------
# Windows                           |
# -----------------------------------
Desktop.ini
ehthumbs.db
Thumbs.db

# -----------------------------------
# macOS                             |
# -----------------------------------
._*
.AppleDouble
.DS_Store
.localized
.LSOverride
.Spotlight-V100
.Trashes
Icon

# -----------------------------------
# nodejs & npm                      |
# -----------------------------------
node_modules/
npm-debug.log

# -----------------------------------
# Vim                               |
# -----------------------------------
%*
*.sw[a-z]
*.un~
.netrwhist
Session.vim

# -----------------------------------
# Miscellaneous                     |
# -----------------------------------
*.pyc
kubeout.txt

# -----------------------------------
# Symmetry                          |
# -----------------------------------
.symmetry/extras/*
!.symmetry/extras/default.bash
.symmetry/initializers/.authorized_keys
.systems/
# not symmetry files that were excluded above
!._symmetry.*
